body { background-color: #181818; color: white; }
    .sidebar .sidebar-content { background-color: #0a0a23; }
    .header {
        background-color: #0A0A23; color: white; text-align: center;
        font-size: 30px; font-weight: bold; padding: 15px;
        border-radius: 10px; margin-bottom: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    }
    .h { background-color: #0A0A00; font-size: 1px; font-weight: bold; padding: 1px;
         border-radius: 10px; margin-bottom: 20px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); }
            
    .h1 { background-color: #0A0A00; font-size: 0.1px; font-weight: bold; padding: 0.1px;
          border-radius: 10px; margin-bottom: 20px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); }